[submodule "dependencies/cxlalloc"]
	path = dependencies/cxlalloc
	url = https://github.com/nwtnni/cxlalloc.git
[submodule "third_party/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "dependencies/abseil"]
	path = dependencies/abseil
	url = https://github.com/abseil/abseil-cpp.git
